.choice{
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

body{
    /* background-image: url(../images/powerRangerBackground.png); */
}

.jumbotron{
    /* background-image: url(../images/PRbackground.jpg); */
}