body{
    background-image: url(../images/powerRangerBackground.png);
    background-size: 100%;
    color: white;
    font-family: 'Russo One', sans-serif;

}


.jumbotron{
    background-color: transparent;
    background-size: 100%;
    text-align: center;
    height: 350px;
    
}

.choice{
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#game{
    padding-bottom: 450px;
}

